{
	"semi": false,
	"singleQuote": true,
	"useTabs": true,
	"tabWidth": 2,
	"bracketSpacing": false,
	"arrowParents": "always",
	"trailingComma": "es5",
	"bracketSameLine": false,
	"proseWrap": "never",
	"printWidth": 180,
	"arrowParens": "always",
	"vueIndentScriptAndStyle": false,
	"embeddedLanguageFormatting": "off",
	"htmlWhitespaceSensitivity": "css"
}